<div data-modal class="backdrop is-hidden modal-film">
  <div class="modal-film-header">
    <button type="button" class="close-btn" modal-close>
      <svg class="icon-x">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="modal-film-content">
    <div class="modal-image">
      <img src="#" alt="film-image" />
    </div>
    <div class="modal-film-details">
      <h2 class="modal-film-title"></h2>
      <div class="modal-film-features">
        <ul class="modal-film-features-list list">
          <li class="modal-film-features-item">
            <div class="modal-film-features-title">Vote / Votes</div>
            <div class="modal-film-features-data">
              <span><b class="vote-data"></b></span> /
              <span><b class="votes-data"></b></span>
            </div>
          </li>
          <li class="modal-film-features-item">
            <div class="modal-film-features-title">Popularity</div>
            <div class="modal-film-features-data">
              <b class="modal-popularity-data"></b>
            </div>
          </li>
          <li class="modal-film-features-item">
            <div class="modal-film-features-title">Original Title</div>
            <div class="modal-film-features-data">
              <b class="modal-original-title-data"></b>
            </div>
          </li>
          <li class="modal-film-features-item">
            <div class="modal-film-features-title">Genre</div>
            <div class="modal-film-features-data">
              <b class="modal-genre-data"></b>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-film-about-section">
        <h2 class="about-title"><b>ABOUT</b></h2>
        <p><b class="about-title-data"></b></p>
      </div>
      <div class="modal-film-buttons-section">
        <button type="button" class="add-watched-btn">
          <b
            >ADD TO <br />
            WATCHED</b
          >
        </button>
        <button type="button" class="add-queue-btn"><b>ADD TO QUEUE</b></button>
      </div>
    </div>
  </div>
</div>
