<div data-students-modal class="students-backdrop is-hidden students-modal">
  <div>
    <button type="button" class="close-btn" students-modal-close>
      <svg class="icon-x">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="students-modal-content">
    <h3 class="team-title">Nasz zespół:</h3>
    <ul class="students-modal-list list">
      <li class="students-modal-list-item">
        <div class="student-image">
          <img
            src="/src/images/Marta.jpg"
            width="200px"
            alt="Marta Szymanska"
          />
        </div>
        <div>
          <h4 class="person-title">Marta Szymańska</h4>
          <p class="person-description">
            Z zawodu analityk finansowy. Poszukuje alternatywnej ścieżki rozwoju
            zawodowego. Prywatnie interesuje się muzyką (absolwentka Autorskiej
            Szkoły Muzyki Rozrywkowej i Jazzu). W wolnym czasie lubi jeździć na
            rowerze, żeglować i chodzić po górach. W projekcie objęła funkcję
            Team Leadera oraz była odpowiedzialna za stworzenie modali.
          </p>
        </div>
      </li>
      <li class="students-modal-list-item">
        <div class="student-image">
          <img
            src="/src/images/Andrzej.jpg"
            width="200px"
            alt="Andrzej Borzym"
          />
        </div>
        <div>
          <h4 class="person-title">Andrzej Borzym</h4>
          <p class="person-description">
            Zawodowo dyrygent i kompozytor, prywatnie pasjonat gromadki swoich
            dzieci, podróży (zwłaszcza motocyklowych), gotowania, a od niedawna
            także kodowania. W projekcie zaiplementował pobieranie danych z API.
          </p>
        </div>
      </li>
      <li class="students-modal-list-item">
        <div class="student-image">
          <img
            src="/src/images/Mateusz.jpg"
            width="200px"
            alt="Mateusz Baryla"
          />
        </div>
        <div>
          <h4 class="person-title">Mateusz Baryła</h4>
          <p class="person-description">
            W wolnych chwilach lubi upiec przepyszną pizzę. Interesuje się także
            programowaniem. W projekcie zaimplementował paginację za pomocą
            biblioteki Bootstrap.
          </p>
        </div>
      </li>
      <li class="students-modal-list-item">
        <div class="student-image">
          <img
            src="/src/images/Seweryn.png"
            width="200px"
            alt="Seweryn Stalinger"
          />
        </div>
        <div>
          <h4 class="person-title">Seweryn Stalinger</h4>
          <p class="person-description">
            Ambitny programista. Kurs programowania tak bardzo go zafascynował,
            że postanowił studiować informatykę. Podczas projektu zajął się
            stylizacją sekcji głównej strony oraz implementacją drobnych funkcji
            w Javascript.
          </p>
        </div>
      </li>
      <li class="students-modal-list-item">
        <div class="student-image">
          <img
            src="/src/images/Mikolaj.jpg"
            width="200px"
            alt="Mikolaj Zydorek"
          />
        </div>
        <div>
          <h4 class="person-title">Mikołaj Zydorek</h4>
          <p class="person-description">
            Prywatnie entuzjasta życia oraz podróży. Głównie interesuje się
            sportem, muzyką, a także programowaniem. W wolnym czasie lubi
            gotować oraz spędzać czas przy dobrym filmie bądź serialu. Z zawodu
            technik-informatyk. W projekcie zajmował się headerem strony głównej
            i library oraz obsługą dodawania filmów do local storage i
            wyświetlania ich na stronie library.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
